* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding-top: 30px;
  display: flex;
  align-items: self-start;
  justify-content: center;
  gap: 30px;
}
.calendar {
  flex: 1;
}
.delivery-table {
  flex: 2;
}
